{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <form action="{{ url_for('add_entry') }}" method="POST" class="add-entry">
    <dl>
      <dt>Title: </dt>
      <dd><input type="text" size="30" name="title"></dd>
      <dt>Text: </dt>
      <dd><textarea id="post-text" name="text" cols="40" rows="10"></textarea></dd>
      <dd><input type="SUBMIT" value="Submit post"></dd>
    </dl>
  </form>
  {% endif %}
  <ul class="entries">
    {% for entry in entries %}
    <li>
      <h2>{{ entry.title }}</h2>{{ entry.text|safe }}
    </li>
    {% else %}
    <li>
      <em>Unbelievable. No entries here so far</em>
    </li>
    {% endfor %}
  </ul>
{% endblock %}
